<div id = "home-background">
	<%= image_tag( "background.png", :alt => "background of soldier holding books" ) %>
</div>

<%= link_to image_tag("starlogo.png", alt: "The Warrior-Scholar Project", id: "logo"), 'http://www.warrior-scholar.org'  %>

<div class = "container">
<h1>Your next mission:<br>
College. </h1>

	
	<% if !signed_in? %>

	<% if @showFirst %>

								<div class = "sign-in first">
								<button type="button" class="home-page-style-button">Get to work.</button>
								</div>
	<% end %>
	



								<div class = "sign-in hidden">
										
											    
											    <form class="pure-form" accept-charset="UTF-8" action="/sessions" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="WD8LGIVV+v/bm4uY5aejzeprg5Tsqy/vnQ67Jmpjz50=" /></div>

											    	<% flash.each do |key, value| %>
        <div class="alert"><%= raw value %></div>
      <% end %>
											     	 <input placeholder="Enter your access code" id="session_access_code" name="session[access_code]" type="text" />

											      	<input class="pure-button pure-button-primary" name="commit" type="submit" value="Get started"/>
												</form>
								</div>

								
	<% else %>

								<div>
							<%= link_to "Continue on.", '/video1', class: "home-page-style-button" %>
								</div>
	<%end%>





	<script type="text/javascript">
	var press = 0;
	$( ".first" ).click(function() {
		if (press == 0) {

		$( ".sign-in" ).toggle();
		
		}

		press++;
	});

	var showFirst = <%=@showFirst%>;
	if (!showFirst) {

		$( ".hidden" ).toggle();

	}


	</script>


<p> The Warrior Scholars Project Horizon helps extraordinary <br> veterans become leaders in the classroom.</p>
</div>
