 <% provide(:bodyclass, 'video') %>
<div class="header">
</div>
<div class="containerformargin">
	<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), '/' %> <a href="/"> <div id="title">Warrior Scholar Project</div></a>
	<%= image_tag("#{yield(:pbarimg)}", id: "progressbar") %>
	
	<div class="js-video vimeo widescreen">
	<iframe id="video" src="<%= yield(:videolink)%>" frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>


</div>
<div class="topfooter">
	<%=link_to "#{yield(:previouspage)}" do %>
		<div id="left-btn" class="nav-btn">&lt;</div>
	<%end%>

	<div class="vid-ttl">
		<div id="vid-btn"><%=yield(:vidnum)%> of 5</div>
		<span class="text-ttl">
		<span id="ttl"><%=yield(:ttl)%></span> 
		<div id="subttl"><%=yield(:subttl)%></div>
		</span>

	</div>

	<%=link_to "#{yield(:nextpage)}" do %>
		<div id="right-btn" class="nav-btn">&gt;</div>
	<%end%>
</div>
