<div class="header">
</div>
<div class="containerformargin">
	<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), 'http://www.warrior-scholar.org' %> <div id="title">Warrior Scholar Project</div>
	<%= image_tag("#{yield(:pbarimg)}", id: "progressbar") %>
	
	<div class="videocontainer">
	
	<iframe id="video" src="<%= yield(:videolink)%>"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>


</div>
<div class="topfooter">
	<%=link_to "#{yield(:previouspage)}" do %>
		<div id="left-btn" class="nav-btn"></div>
	<%end%>

	<div class="vid-ttl">
		<div id="vid-btn"><%=yield(:vidnum)%> of 5</div>
		<span class="text-ttl">
		<span id="ttl"><%=yield(:ttl)%></span> 
		<div id="subttl"><%=yield(:subttl)%></div>
		</span>
	</div>

	<%=link_to "#{yield(:nextpage)}" do %>
		<div id="right-btn" class="nav-btn" ></div>
	<%end%>
</div>
