<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
   


  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
     <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 







<!--   <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
 -->

  <script type="text/javascript">

  function initialize() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      streetViewControl: false,
      overviewMapControl: false,
      mapTypeControl: false,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.DEFAULT,
      },
      center: new google.maps.LatLng(39.82, -98.58),
    });


    // Info Window Content
    var infoWindowContent = <%= raw @content %>;
    var locations = <%= raw @location %>;

     // Display multiple markers on a map

    var infowindow = new google.maps.InfoWindow(), marker, i;
 
    var marker, i;
    var markers = new Array();
 
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
 
      markers.push(marker);
 
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(infoWindowContent[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }


  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
        'callback=initialize';
    document.body.appendChild(script);
  }

  window.onload =loadScript;

  </script> 
 
<!-- 
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkuiyOmS0FikjETYC8UhQMt7dsVa8dV08">
    </script>

 -->

  </head>
  <body class=<%= yield(:bodyclass)%>>
  <%= yield %> 


  </body>
</html>